-e .

# Linter & Formatter
isort
flake8
black
mypy
pyproject-flake8
pre-commit

# Tests
coverage[toml]
pytest
pytest-sugar
pytest-asyncio
dirty-equals
httpx

# Documentation
git+https://${GH_TOKEN}@github.com/squidfunk/mkdocs-material-insiders.git@8.5.0-insiders-4.23.3\n
mkdocstrings
